@font-face {
    font-family: TitleFont;
    src: url(MrsEavesSmallCaps.otf);
}

#Img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    color: white;
    background:linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5466561624649859) 15%, rgba(0,0,0,0.804359243697479) 20%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 100%),url(D20WP.jpg);
    background-repeat: no-repeat;
    font-family: TitleFont;
    font-size: 25px;
}

h1{
    text-align: center;
}

h2{
    padding-top: 50px;
    margin: auto;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: orange
}

#Sec1 {
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 20px;
}

#Logo {
    width: 45px;
    border-radius: 75%; 
}

.contact {
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

.contact-flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.contact-flex p:first-child{
    flex: 0 0 30%;
}
.contact-flex p:last-child{
    flex: 0 0 60%;
}



.social {
    text-align: center
}

#prez {
    background: #685F53;
    display: flex;
    flex-flow: row wrap;
    border: 10px outset orange;
    border-radius: 30px;
    margin:20px;
    box-shadow: white 10px 10px 10px;
    margin-bottom: 40px;
}
#prez1 {
    background: #685F53;
    display: flex;
    flex-flow: column;
    border: 10px outset orange;
    border-radius: 30px;
    margin:20px;
    box-shadow: white 10px 10px 10px;
    margin-bottom: 40px;
}

b {
    text-decoration: underline;
    text-decoration-color: orange;
    text-align: center;
}

a {
    color: orange;
}

#Intr {
    text-align: center;
    margin: 3%;
}
